{% extends 'base.html' %}

{% block title %}Forget Password{% endblock title %}
{% block body %}
<style>
    body{
        background-color: #383B4E;
    }
</style>
<div class="container" style="margin-bottom: 380px;  "  >
    <h2 class="text-center mt-2 " style="color: white;"> 
        Forget Password
    </h2>
    <div class="container col-lg-4 border 18px black  border-rounded ">
    <form action="/forget_pass/" method="post">{% csrf_token %}
 <div class="form-group">
   <label for="" style="color: white;">E-Mail</label>
   <input type="email" name="email" required   placeholder="Enter your email here.." class="form-control" placeholder="" aria-describedby="helpId">
    
 </div>
 
<input type="submit" class="btn btn-danger mt-1 mb-2" value="Submit">
    </form>
</div>
</div>


{% endblock body %}